/* #backBox { */
/*     background-color: rgba(0, 0, 0, 0.8); */
/* 	position: fixed; */
/* 	top: 0; */
/* 	left: 0; */
/* 	right: 0; */
/* 	width: 100%; */
/* 	height: 100%; */
/* } */
#alarm {
	background: gray;
	font-weight: bold;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	margin-bottom: 5px;
}
#alarm > span {
	display: block;
	margin: 0 auto;
}

#chatBigBox {
    position: fixed;
    height: 87%;
    right: 0px;
    width: 30%;
    overflow: auto;
    background-color: #dbdbdb;
    bottom: 40px;
    display: none;
    z-index: 1300;
}
html, body {
    background: #e5e5e5;
    font-family: 'Lato', sans-serif;
    margin: 0px auto;
}
::selection{
  background: rgba(82,179,217,0.3);
  color: inherit;
}
a{
  color: rgba(82,179,217,0.9);
}

/* M E N U */

.menu {
    position: fixed;
    width: 30%;
    height: 50px;
    background: #343a40;
    z-index: 1001;
    top: 60px;
}
.menu input {
    font-size: 20px;
    width: 70%;
    height: 30px;
    border-radius: 20px;
    margin-top:2%;
    margin-left: 8%;
    padding: 4px 12px;
    float: left;
    background-color: #dbdbdb;
}
.menu button {
    width: 15%;
    height: 33px;
    border-radius: 20px;
    margin-top: 8px;
    margin-right: 20px;
    float: right;
}

/* M E S S A G E S */

.chat {
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 50px 0;
    margin-top: 60px;
    margin-bottom: 10px;
}

.self time {
	float: left;
}
    
.chat li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}
.chat .avatar {
    width: 40px;
    height: 40px;
    position: relative;
    display: block;
    z-index: 2;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    background-color: rgba(255,255,255,0.9);
}
.chat .avatar img {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 100%;
}
.chat .day {
    position: relative;
    display: block;
    text-align: center;
    color: #808080;
    height: 20px;
    box-shadow: inset 20px 0px 0px #dbdbdb, inset -20px 0px 0px #dbdbdb, inset 0px -2px 0px #d7d7d7;
    line-height: 38px;
    margin-top: 5px;
    margin-bottom: 20px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.other .msg {
    order: 1;
    border-top-left-radius: 0px;
    box-shadow: -1px 2px 0px #D4D4D4;
}
.other:before {
    content: "";
    position: relative;
    top: 10px;
    right: 0px;
    left: 60px;
    width: 0px;
    height: 0px;
    border: 5px solid #fff;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}
.self .msg {
    order: 1;
    border-bottom-right-radius: 0px;
    box-shadow: 1px 2px 0px #D4D4D4;
}
.self .avatar {
    order: 2;
}
.self .avatar:after {
    content: "";
    position: relative;
    display: inline-block;
    bottom: 31px;
    right: 10px;
    width: 0px;
    height: 0px;
    border: 5px solid #fff;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 0px 2px 0px #D4D4D4;
}
.otherName {
	font-weight: bold;
}
.msg {
	word-break: break-all;
    background: white;
    min-width: 50px;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
    margin: 10px 20px;
}
.msg p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
    color: #777;
    word-spacing:normal;
}
.msg img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #eee;
    transition: all .4s cubic-bezier(0.565, -0.260, 0.255, 1.410);
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    .msg img {
    width: 300px;
}
}
@media screen and (max-width: 550px) {
    .msg img {
    width: 200px;
}
}

.msg time {
    font-size: 0.7rem;
    color: #ccc;
    margin-top: 3px;
    cursor: default;
}
.other time {
	float: right;
}
.msg time:before{
    content:"\f017";
    color: #ddd;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 4px;
}

emoji.please{background-image: url(https://imgur.com/ftowh0s.png);}
emoji.lmao{background-image: url(https://i.imgur.com/MllSy5N.png);}
emoji.happy{background-image: url(https://imgur.com/5WUpcPZ.png);}
emoji.pizza{background-image: url(https://imgur.com/voEvJld.png);}
emoji.cryalot{background-image: url(https://i.imgur.com/UUrRRo6.png);}
emoji.books{background-image: url(https://i.imgur.com/UjZLf1R.png);}
emoji.moai{background-image: url(https://imgur.com/uSpaYy8.png);}
emoji.suffocated{background-image: url(https://i.imgur.com/jfTyB5F.png);}
emoji.scream{background-image: url(https://i.imgur.com/tOLNJgg.png);}
emoji.hearth_blue{background-image: url(https://i.imgur.com/gR9juts.png);}
emoji.funny{background-image: url(https://i.imgur.com/qKia58V.png);}

@-webikt-keyframes pulse {
  from { opacity: 0; }
  to { opacity: 0.5; }
}

::-webkit-scrollbar {
    min-width: 12px;
    width: 12px;
    max-width: 12px;
    min-height: 12px;
    height: 12px;
    max-height: 12px;
    background: #343a40;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
    border: none;
    border-radius: 100px;
    border: solid 3px #343a40;
    box-shadow: inset 0px 0px 3px #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #343a40;
  box-shadow: inset 0px 0px 3px #888;
}

::-webkit-scrollbar-thumb:active {
    background: #aaa;
  box-shadow: inset 0px 0px 3px #343a40;
}

::-webkit-scrollbar-button {
    display: block;
    height: 26px;
}

/* T Y P E */

#textBox {
    position: fixed;
    width: 30%;
    right: 0px;
    bottom: 0px;
    height: 100px;
    background: #343a40;
    z-index: 2000;
}

#textBox textarea {
    float: left;
    width: 80%;
    height: 65%;
    resize: none;
    color: #666;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 20px;
    margin: 4% 2%;
    background-color: #dbdbdb;
}
#textBoxBtn {
    height: 60%;
    width: 13%;
    border-radius: 10px;
    margin-top: 5%;
}