.cloud-manager{
    position: absolute;
    top: 60px;
    width: 100%;
    height: 92%;
    background-color: #f1f1f1;
    display: none;
    z-index: 3;
    overflow: auto;
  }
 .cloud-title{
   float:left;
   width: 100%;
   position: absolute;
   left: -6px;
   padding-left: 32px;
   padding-top: 0px;
   padding-bottom: 10px;
   color: #333333;
 }
.table-cloud{
    top: 82px;
    position: absolute;
}
#page-top > div.content-wrapper > section > table > thead > tr > th:nth-child(1){
	width: 14px
}
.btn-upload{
    text-align: center;
    margin-left: 2px !important;
}
#page-top > div.content-wrapper > section > table > tbody > tr > td:nth-child(3){
	opacity: 0;
	width: 12px;
}
.more-btn:hover{
	background-color: #f1f1f1;
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}

.cloud-title > i{
    position: relative;
    top: 7px;
}
#modalNewFolder > input[type="text"]{
    width: 100%;
    position: relative;
    top: 15px;
}
#modalNewFolder > button{
    position: relative;
    bottom: 0px;
    top: 40px;
    float: right;
}
#modalNewFolder{
	display:none;
    border-radius: .3rem;
    padding: 18px;
	z-index: 100;	
    width: 500px;
    height: 176px;
    position: absolute;
    margin: auto;
    left: 24%;
    background: white;
    box-shadow: 5px 10px 18px #888888;
}
#cloudUsage{
    position: absolute;
    right: 5%;
    top: 6%;
}

#cloudUsageProgress {
  width: 100%;
  background-color: #ddd;
}

#cloudUsageBar {
  width: 1%;
  height: 8px;
  background-color: #b39bdd;
}

#page-top > div.content-wrapper > section.cloud-manager > form.form-inline > div{
	width:100%;
}

#loader{
	position: absolute;
    top: 50%;
    left: 36%;
    z-index: 5;
}