.box {
opacity: 1;
transition: opacity 1s, height 0;
}

.hidden {
opacity: 0;
transition: opacity 1s, height 0 1s;
height: 0;
}

#alarmBigUl {
	float: right;
	width: 10%;
	margin-right: 30px;
}
#navRoomBigBox {
	margin-left : 23%;
	width: 65%;
	height: 100%;
}
#roomTitle {
	margin-top: 3px;
	float: left;
	color: white;
}
#roomJoinCode {
	margin-top: 3px;
	float : right;
	color: white;
}
.roomMsg {
	font-size: 20px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.content-wrapper{
  padding: 0px;
}
.main-doc{
  width: 100%;
  padding: 0px;
  height: 663px;
  float: left;
  position: relative;
}
.main-doc,.user{
  float: left;
}
#hangOnLogo{
	width:45%;
}
#setup-room{
	display: none;
}
#page-top > div.content-wrapper > div.main-doc > div{
    position: absolute;
    top: 3px;
    width: 100%;
    height: 108%;
    z-index: 1;
}
#videos-container{
	z-index: 2;	
}