.content-wrapper{
  padding: 0px;
}
.main-doc{
  width: 100%;
  padding: 0px;
  height: 663px;
  float: left;
  position: relative;
}
.main-doc,.user{
  float: left;
}
#hangOnLogo{
	width:45%;
}
#setup-room{
	display: none;
}
#page-top > div.content-wrapper > div.main-doc > div{
    position: absolute;
    top: 3px;
    width: 100%;
    height: 108%;
    z-index: 1;
}
#videos-container{
	z-index: 2;	
}