.experiment{
	display: none;
    position: absolute;
    top: 15px;
    left: 10px;
    z-index: 3;
    opacity: 0.9;
    background-color: #fff;
    width: 380px;
}
#convert-from,#convert-into{
    width: 100%;
}
.section-divider{
	float: left;
	width: 50%;
}
#textarea-from,#textarea-to{
    width: 100%;
   	height: 100px;
}
.btn-stt{
	font-size: 14px;
	background-color: white;
	border: 1px solid #c0c0c0;
/* 	color : #c0c0c0; */
/* 	font-weight: bold; */
	margin: 0px 5px 5px 0px;
}
.btn-stt:hover{
	background-color: #c0c0c0;
	color: white;
	
}