#roomRegistBox {
    background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: none;
}
.room-plus-box {
    padding: 20px 20px;
    margin: 0 auto;
    width: 30%;
    height: 610px;
    top: 13%;
    left: 34%;
    position: absolute;
    border: 1px solid grey;
	background-color: #ffffff;
}

.room-plus-box > div {
	width: 100%;
	height: 100%;
}
#roomRegist {
    display: none;
}

.room-ex {
    border-bottom: 1px solid gray;
    font-size: 20px;
    text-align: center;
    color: black;
}

/* 방 생성 버튼 / 취소 버튼 */
.room-regist-btn {
    width: 50%;
    height: 80%;
    color: #9797e8;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 38px;
    border-radius: 50px;
    cursor: pointer;
    float: right;
    background-color: #ebebeb;
}
.room-regist-btn:active {
	position:relative;
	top:1px;
}
.room-regist-security{
    width: 100%;
    display: block;
    transition:all 0.1s linear;
    margin: 0 auto;
}

#roomRegistTitle {
    margin-top: 80px;
    margin-bottom: 30px;
}
#roomRegNm {
    margin-bottom: 25px;
}
#roomRePa {
    margin-bottom: 50px;
}
#roomReBtns {
    position: absolute;
    left: 5px;
    bottom: 10px;
    width: 96%;
    height: 80px;
}
.regist-btn{
  display: inline-block;
  width: 40%;
  height: 90%;
  cursor: pointer;  
  border: none;
  font-size: 30px;
  font-weight:bold;
  color: grey;
  text-align: center;
  background-color: #dbdbdb;
}
.regist-btn:hover {
	color: #9797e8;
    transition-duration: 20ms;
}
#roomRegistClose{
    border-radius: 100px;
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 5px;
    margin-right: 23px;
}
#roomRegistClose i{
	font-size: 40px;
	padding-top: 5px;
}
.high-btn {
	margin-left: 15px;
	margin-top: 10px;
    position: absolute;
    font-variant:small-caps;
    left: 0px;
    top: 0px;
    width: 98%;
    height: 60px;
    margin-bottom: 10px;
}

.input {
    margin-top: 3px;
    width:100%;
    height: 40px;
    font-size: 20px;
    border: 1px solid lightgray;
    border-bottom: 1px solid gray;
    padding: 10px 16px;
    background-color:transparent;
}