@charset "UTF-8";
#roomSearchInput{
	width: 20%;
	vertical-align: middle;
}

.form-control{
	display: inline-block;
}
#searchContainer{
	margin-top: 15px;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-bottom: 0px;
  vertical-align: middle;
  text-align: center;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.btn-recent{
	background-color:#dbd0ef;
/* 	width: 80%; */
	font-size: 13px;
	padding: 3px;
}
/* .btn-recent:hover{ */
/* 	background-color:#dbd0ef; */
/* 	color: black; */
	
/* } */
.btn-recent:hover { 
	background: #b39bdd; 

	border: 1px solid rgba(0, 0, 0, 0.05); 
	box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2); 
	color: #ffffff; 
}

#searchPeriod,#searchContainer{
	margin: 18px;
}
#recentSearchBtn{
	margin-left:25px;
}
#tableContainer{
	margin-top : 40px;
	height:480px;
}
#historyTable td{
	padding: 7px;
	font-size: 15px;
}
#periodSearchBtn{
	margin-left: 5px;
}
.page-link{
	color: #8d68cc; 
}
.page-link:hover {
	color: #8d68cc; 
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #b39bdd;
    border-color: #8d68cc;
}
.room-header{
	font-size: 15px;
}
.card-header:hover{
	background-color: #dbd0ef;
	color : #636363;
}
.card-header a{
	color : #000000;
}
.fix-content{
	margin-bottom: 0px;
}
.pass-input{
	margin-bottom: 5px;
	font-size: 13px;
}
#roomInfo{
	font-size: 13px;
}
#roomMembertTable td{
	vertical-align: middle;
	padding: 5px;
	font-size: 15px;
}
.mem-del-btn{
	font-size: 13px;
	
}
  .buttonHolder{
  margin:80px auto;
  width:400px;
}
.room-edit-btn{
	background-color: white;
	border: 1px solid #c0c0c0;
/* 	color : #c0c0c0; */
/* 	font-weight: bold; */
	margin: 0px 5px 5px 0px;
}
.room-edit-btn:hover{
	background-color: #c0c0c0;
	color: white;
	
	
}
#barChart, #doughnutChart{
	display : inline-block;
	margin-left: 17px;
}

#myPieChart{
	height: 380px !important;
	width: 380px !important;
}
#barChart{
	width : 775px;
}

#doughnutChartContent, #barChartContent, #myLineChartContent {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}
.button-left, .button-right {
	background-color: white;
	border : white;
	margin: 10px;
	margin-top: 0px;
}
.month{
	font-size: 25px;
	font-weight:300;
	
}
.year{
	font-weight:400;
	font-size: 13px;
}
.button-left, .button-right{
	margin: 0px;
}
.datePicker{
	margin-bottom: 10px;
}

.nodeHover{
	background-color: rgba(0,0,0,0);
}




		