#myPage{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
}
#myPageProfileArea{
    top:23%;
    left:35%;
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    height: 54%;
    width: 30%;
    padding: 1.5%;
}
#myPageClose{
    position: absolute;
    right: 3%;
    top: 2%;
    width: 2%;
    height: 2%;
}

#myPageImgArea{
    width: 130px;
    height: 130px;
    border: 1px solid black;
    float: left;
    margin-right: 5%;
}
#myPageImgArea img{
    width: 100%;
    height: 100%;
}

#myPageProfileImgBtns :nth-child(3){
    display: inline-block;
    border:1px solid black;
    width: 67%;
}
#myPageProfileImgBtns :nth-child(3) button{
    float: right;
    height: 40px;
    width: 25%;
}
#myPageProfileImgBtns span{
    margin-top: 1%;
}

#myPageImgInput{
    display: none;
}

#myPageImgURL span{
    text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
    width: 73%;
    display: inline-block;
    overflow: hidden;
    line-height: 25px;
    padding: 1%;
}

#myPageDetailArea{
    margin-top: 10%;
    font-size: 130%;
}

#myPageDetailArea div{
    margin-bottom: 5%;
}

#myPageDetailArea div div{
    margin-top: 1%;
    border: 1px solid black;
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
}

#myPageEmail{
    background-color: khaki;
}

#myPagePassBtn, #myPageOutBtn{
    width: 48%;
    height: 50px;
}
#myPagePassBtn{
    margin-right: 2.5%
}
