#table-body {
	position: relative;
	width: 60%;
    margin-left: 250px;
    margin-top: 100px;
}

#table-on-the-left {
	position: relative;
	float: left;
	margin-left: 50px;
}

button {
	hover: cursor;
}

.row {
	position: relative;
	margin-left: 550px;
	margin-top: auto;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}

body.sticky-footer {
  margin-bottom: 56px;
}

.content-wrapper {
  min-height: calc(100vh - 56px);
  padding-top: 1rem;
}
	
#hangOnLogo{
	width: 45%;
}

#mainNav .navbar-collapse {
  overflow: auto;
  max-height: 75vh;
}

#mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
  cursor: pointer;
}

.content-wrapper {
  overflow-x: hidden;
  background: white;
}

footer.sticky-footer {
  position: absolute;
  z-index: 20;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 56px;
  background-color: #e9ecef;
  line-height: 55px;
}

@media (min-width: 992px) {
  body.sidenav-toggled footer.sticky-footer {
    width: calc(100% - 55px);
  }
}

#btn {
	
}

<!-- 페이징 관련 -->

/* .page-link{ */
/* 	color: #8d68cc;  */
/* } */

/* .page-link:hover { */
/* 	color: #8d68cc;  */
/* } */

.page-items.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #b39bdd;
    border-color: #8d68cc;
}

/* .pagination { */
/* 	text-align:center; */
/* 	margin-left: auto;  */
/* 	margin-right: auto; */
/* } */




